// @media (min-width: 2000px) {
//   html {
//     font-size: 13px;
//   }

//   .container,
//   .header .container {
//     max-width: 80%;
//   }

//   .intro__inner {
//     justify-content: space-between;
//   }

//   .news__img {
//     height: 35vh;
//   }

//   .header__logo,
//   .footer__logo {
//     max-width: 9vw;
//     height: 6vh;
//   }

//   .header__btn {
//     width: 80px;
//     height: 30px;
//   }

//   .header__btn.active span {
//     position: absolute;
//     top: 50%;
//     left: 15px;
//   }

//   .header__btn::after {
//     width: 49px;
//   }

//   .intro__left {
//     padding: 10% 0 0 0;
//     max-width: 50%;
//   }

//   .intro__down {
//     width: 10vw;
//     height: 10vh;
//   }

//   .intro__title {
//     font-size: 4rem;
//   }

//   .intro--daps .intro__left {
//     padding: 12% 0 0 0;
//   }

//   .stack li {
//     min-height: 18vh;
//   }

//   .stack__list-img img {
//     height: 5vh;
//     width: auto;
//   }

//   .gallery__item {
//     height: 55vh;
//   }

//   .header__item-child>ul li::after {
//     top: 46%;
//   }

//   .services__info {
//     max-width: 30%;
//   }
// }

// @media (min-width: 2500px) {
//   html {
//     font-size: 22px;
//   }

//   .container {
//     max-width: 80%;
//   }

//   .intro__right {
//     top: 30%;
//     right: 40%;
//   }
// }

@media (max-width: 1100px) {
  .intro__inner::before {
    bottom: 0;
  }

  .intro__text {
    font-size: 35rem;
  }

  .intro__right {
    min-width: auto;
    right: 0;
    top: 10%;
    width: 420px;
    height: 414px;
  }

  .fancybox-slide--html .fancybox-close-small {
    right: 10px;
    top: 10px;
  }

  .modal {
    padding: 100px 0;
    height: 100%;
    width: 100%;
  }

  .modal__inner {
    height: auto;
  }

  .quote__inner {
    padding: 100px 0 100px;
  }
}

@media (max-width: 900px) {
  .header__logo {
    margin: 0 auto;
  }

  .header__contact {
    margin-left: 0;
  }

  .intro__title {
    font-size: 4rem;
  }

  .intro__text {
    font-size: 28rem;
  }

  .intro__right {
    width: 340px;
    height: 325px;
  }

  .aprroach__item {
    width: calc(50% - 30px);
  }

  .news__list {
    margin: 55px 0 80px -15px;
  }

  .news {
    padding: 70px 0 40px;
  }

  .page-404__left h1 {
    font-size: 4rem;
  }

  .modal__left h1 {
    font-size: 4rem;
  }

  .modal__content {
    flex-direction: column;
  }

  .modal__left {
    margin: 0 0 35px 0;
    max-width: 400px;
    width: 100%;
  }

  .modal__send h2 {
    margin: 0 0 30px 0;
    font-size: 4rem;
  }

  .works li {
    width: calc(50% - 15px);
  }

  .types__item {
    font-size: 1.8rem;
  }

  .quote blockquote {
    font-size: 3.8rem;
  }

  .stack.stack--about {
    padding: 170px 0 35px;
  }

  .articl-intro h1 {
    font-size: 4rem;
    line-height: 110%;
  }

  .articl-intro__img {
    width: 338px;
    height: 174px;
    border-radius: 170px;
  }

  .articl-intro__right {
    margin: 0 -40px 0 0;
  }

  .articl-intro__left {
    flex-shrink: 1;
  }
}

@media (max-width: 700px) {
  .header {
    padding: 25px 0 0 0;
  }

  .header__btn {
    width: 23px;
  }

  .header__btn.active+.header__logo {
    margin: 0 auto;
  }

  .header__btn::after {
    width: 14px;
  }

  .header__contact {
    padding: 10px 13px;
    font-size: 1rem;
  }

  .header__logo,
  .header__menu-logo {
    max-width: 92px;
    height: 27px;
  }

  .header__menu-close {
    margin: 0 20px 0 0;
  }

  .header__menu-inner {
    margin: 0 0 90px 0;
  }

  .header__list>li:last-child {
    width: fit-content;
    margin: 70px auto 0;
    margin-left: auto;
    padding: 11px 19px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 125.1%;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #E94D6E;
    border-radius: 30px;
  }

  .header__menu {
    background-image: none;
  }

  .intro__inner {
    position: relative;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .intro__right {
    position: absolute;
    top: 12%;
    left: 0;
    min-width: 320px;
    max-width: 320px;
    height: 320px;
  }

  .intro__text span:last-child {
    bottom: -30px;
    right: -10px;
  }

  .intro__text {
    font-size: 28rem;
  }

  .intro {
    padding: 0 0 70px 0;
    overflow: hidden;
  }

  .intro__left p {
    margin: 10px 0 30px 0 !important;
  }

  .box-bg::before {
    background-image: url("../images/dest/icons/intro-bgMob.svg");
    top: auto;
    bottom: 1%;
    right: -298px;
    width: 593px;
    height: 520px;
  }

  .aprroach__item {
    width: 100%;
    margin: 0 0 54px 30px;
  }

  .title {
    font-size: 4rem;
  }

  .aprroach__list {
    margin: 30px 0 0 -30px;

    br {
      display: none;
    }

    p {
      max-width: 100%;
    }
  }

  .services__item,
  .services__item:nth-child(odd) {
    flex-direction: column;
    align-items: flex-start;
    margin: 60px 0 0 0;
    padding: 0 20px;
  }

  .services__img {
    margin: 0 0 40px 0;
    flex: 0 0 218px;
    max-width: 100%;
    border-radius: 10px !important;
  }

  .services__info,
  .services__item:nth-child(odd) .services__info {
    padding: 0;
    margin: 0 0 30px 0;
    max-width: 100%;
  }

  .services__item:nth-child(odd) .services__info h3,
  .services__item:nth-child(odd) .services__info p {
    text-align: left;
  }

  .aprroach {
    padding: 65px 0 25px;
  }

  .services {
    padding: 25px 0 40px;
  }

  .services__info h3 {
    font-size: 2.5rem;
  }

  .reviews .container .btn {
    top: auto;
    bottom: -125px;
    right: 50%;
    transform: translateX(50%);

  }

  .slider-one .slick-dots {
    bottom: -35px;
  }

  .reviews {
    padding: 30px 0 160px;
  }

  .slider-one .slick-slide {
    margin: 0 5px;
  }

  .news__list .slick-dots {
    bottom: -37px;
  }

  .footer {
    padding: 98px 0 50px 0;
  }

  .footer__box {
    flex-direction: column;
    margin: 0 0 95px 26%;
  }

  .footer__box p {
    width: 210px;
  }

  .footer__box .link {
    margin: 40px 0 0 0;
  }

  .footer__title {
    margin: 0 0 28px 0;
    font-size: 4rem;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: center;
  }

  .footer__logo {
    margin: 0 0 20px 0;
    max-width: 145px;
    height: 45px;
  }

  .footer::after {
    bottom: auto;
    top: 5%;
    right: -30%;
    width: 500px;
    height: 350px;
  }

  .page-404__inner {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .page-404__right {
    font-size: 15rem;
  }

  .page-404__inner {
    padding: 25% 0 25% 0;
    height: 100%;
  }

  .page-404__left {
    width: 100%;
    margin: 20px 0 0 0;
    text-align: center;
  }

  .form__choice {
    padding: 10px 10px;
  }

  .intro__left {
    padding: 5% 0 24% 0;
  }

  .works {
    padding: 100px 0 50px;
  }

  .works__list {
    margin: 70px 0 0 -15px;
  }

  .works li {
    width: 100%;
    margin: 0 0 65px 15px;
  }

  .works li:last-child {
    margin: 0 0 0 15px;
  }

  .stack {
    padding: 50px 0 35px;
  }

  .stack li {
    width: calc(50% - 15px);
  }

  .stack__list {
    margin: 30px 0 0 -15px;
  }

  .gallery {
    padding: 50px 0 150px;
  }

  .gallery__box {
    flex-direction: column;
  }

  .gallery__item,
  .gallery__box:nth-child(odd) .gallery__item:nth-child(even) {
    width: 100%;
    margin: 0 0 15px 0;
  }

  .gallery__inner {
    max-width: 500px;
    margin: 30px auto 0;
  }

  .gallery .container .btn {
    right: 50%;
    transform: translateX(50%);
    bottom: -105px;
    top: auto;
  }

  .types {
    padding: 55px 0 25px;
  }

  .types__inner {
    flex-direction: column;
    align-items: center;
    margin: 35px 0 0 0;
  }

  .types .types__item+.types__item {
    margin: 20px 0 0 0;
  }

  .types__item {
    width: 100%;
  }

  .types__item:first-child span {
    margin: 0;
  }

  .projects .gallery__inner {
    max-width: 100%;
  }

  .pagination__list li:nth-child(4),
  .pagination__list li:nth-child(5),
  .pagination__list li:nth-child(6) {
    display: none;
  }

  .pagination li,
  .pagination__btn-next,
  .pagination__btn-prev {
    height: 40px !important;
    width: 40px !important;
    font-size: 1.6rem;
  }

  .pagination__btn-prev,
  .pagination li+li {
    margin: 0 8px 0 0;
  }

  .pagination__btn-next {
    margin: 0 15px 0 0 !important;
  }

  .projects .gallery__item,
  .gallery__box:nth-child(odd) .gallery__item:nth-child(even) {
    margin: 0 0 30px 0;
  }

  .projects__inner {
    margin: 0;
  }

  .projects__btns,
  .blog__btns {
    margin: 0 0 35px -20px;
  }

  .projects__btn,
  .blog__btn {
    margin: 15px 0 0 10px;
  }

  .intro.intro--about {
    .intro__title {
      font-size: 4rem;
    }
  }

  .articl-intro {
    padding: 70px 0 10px;
  }

  .articl-intro__inner {
    flex-direction: column;
  }

  .articl-intro h1 {
    margin: 0 0 40px 0;
  }

  .articl-intro__left {
    margin: 0 0 20px 0;
  }

  .articl-intro__img {
    width: 404px;
  }

  .articl-intro__right {
    margin: 0 -85px 0 0;
  }

  .articl-content {
    padding: 20px 0 10px;
  }

  .articl-content__img {
    height: 265px;
    margin: 30px 0 30px;
  }

  .articl-content blockquote {
    font-size: 1.8rem;
    line-height: 135%;
    margin: 23px 0 30px 0;
  }

  .news-more {
    margin: 55px 0 0px -15px;
  }

  .news-more .news__item {
    margin: 0 0 30px 15px;
    width: 100%;
  }

  .articl-intro.articl-intro--blog {
    align-items: flex-start;

    h1 {
      margin: 0 0 10% 0;
      font-size: 4rem;
      line-height: 110%;
    }

    .articl-intro__left {
      position: relative;
    }

    .intro__down {
      position: absolute;
      left: 0;
      bottom: -240px;
    }

    .articl-intro__right {
      margin: 0 -236px 0 0;
    }
  }

  .blog {
    padding: 35px 0 10px;
  }

  .blog .news__item {
    width: 100%;
  }

  .blog .news__list {
    margin: 0 0 10px -15px;
  }
}

@media (max-width: 468px) {
  .form__choice {
    font-size: 1.1rem;
    padding: 10px 7px;
  }

  .form .form__choice+.form__choice {
    margin: 0 0 0 10px;
  }

  .intro__title {
    font-size: 3rem;
  }

  .stack li {
    width: 100%;
  }

  .quote {
    padding: 40px 0 90px;
    background-position: 37% 100%;
  }

  .quote__inner {
    padding: 55px 0 0px;
    max-width: 299px;
  }
}

@media (max-height: 600px) {
  .articl-intro.articl-intro--blog {
    height: auto;
  }

  .articl-intro {
    padding: 15% 0 15%;
  }

  .articl-intro.articl-intro--blog h1 {
    font-size: 4rem;
    line-height: 110%;
    margin: 0 0 15% 0;
  }
}

@media (max-height: 450px) {
  .intro__inner {
    padding-top: 15%;
    height: 100%;
  }

}