.modal {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  background-image: url("../images/dest/icons/bg-menu.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  &__inner {
    padding: 0 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 870px;
    width: 100%;
  }

  &__left {
    margin: 0 35px 0 0;
    width: 39%;

    h1 {
      margin: 0 0 20px 0;
      font-weight: 700;
      font-size: 6rem;
      line-height: 110%;
      color: #FFFFFF;
    }

    p {
      font-family: 'Helvetica', sans-serif;
      font-weight: 300;
      font-size: 1.4rem;
      line-height: 130%;
      color: #FFFFFF;
    }
  }

  &__right {
    p {
      margin: 0 0 20px 0;
      font-weight: 700;
      font-size: 2rem;
      line-height: 135%;
      color: #FFFFFF;
    }
  }

  &__send {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      margin: 0 0 50px 0;
      font-weight: 700;
      font-size: 6rem;
      line-height: 110%;
      text-align: center;
      color: #FFFFFF;
    }

    p {
      margin: 0 0 40px 0;
      font-family: 'Helvetica', sans-serif;
      font-weight: 300;
      font-size: 1.4rem;
      line-height: 130%;
      text-align: center;
      color: #FFFFFF;
    }
  }
}

.fancybox-slide--html {
  padding: 0px;
}

.fancybox-bg {
  background: transparent;
}

.fancybox-slide--html .fancybox-close-small {
  color: currentColor;
  padding: 0;
  right: 10%;
  top: 10%;
  opacity: 1;
  background-image: url("../images/dest/icons/close-modal.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  svg {
    display: none;
  }
}

.form {
  max-width: 410px;
  width: 100%;

  &__top {
    margin: 0 0 25px 0;
    display: flex;
  }

  &__choice {
    width: fit-content;
    padding: 12px 15px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 135%;
    color: #606060;
    border: 1px solid #606060;
    border-radius: 36px;
    cursor: pointer;
    text-align: center;
  }

  .form__choice+.form__choice {
    margin: 0 0 0 20px;
  }

  &__choice.active {
    color: #E94D6E;
    border-color: #E94D6E;
  }

  &__input-wrap {
    margin: 0 0 20px 0;
    width: 100%;
    height: 100%;

    input {
      padding: 13px 15px 13px 15px;
      background-color: #171717;
      border: 1px solid #606060;
      border-radius: 6px;
      width: 100%;
      outline: none;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 135%;
      color: #FFFFFF;
    }

    input::placeholder {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 135%;
      color: #606060;
    }
    .error{
      display: block;
      margin: 5px 0 0 5px;
      color: red;
      font-size: 1.2rem;
    }
  }

  .btn {
    margin: 35px 0 0 0;
  }
}