@import "global";
@import "fonts";
@import "buttons";
@import "sliders";
@import "modals";


.content {
  overflow: hidden;
}

.box-bg {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../images/dest/icons/intro-bg.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    width: 100%;
    height: 150%;
    z-index: -1;
  }
}

/*start header==========*/
.header {
  padding: 30px 0 0 0;

  &__menu {
    transform: translateY(-100%);
    margin: 0 auto;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    padding: 30px 0 100px;
    overflow: auto;
    background-color: #000;
    height: 100vh;
    background-image: url("../images/dest/main/bg-menu.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    font-weight: 300;
    font-size: 3rem;
    line-height: 110%;
    color: #FFFFFF;
    transition: all .5s;
  }

  &__menu.active {
    transform: translateY(0);
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__btn {
    display: block;
    position: relative;
    width: 29px;
    height: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      display: block;
      background-color: #fff;
      width: 100%;
      height: 3px;
      transition: linear .2s;
      border-radius: 5px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      background-color: #fff;
      width: 100%;
      height: 3px;
      border-radius: 5px;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
      width: 20px;
    }
  }

  &__logo {
    margin: 0 40px 0 38%;
    max-width: 150px;
    width: 100%;
    height: 45px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__contact {
    margin-left: auto;
    padding: 11px 19px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 125.1%;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #E94D6E;
    border-radius: 30px;
  }

  &__item-child {
    position: relative;

    p {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }

  &__arrow {
    margin: 0 0 0 20px;
    width: 17px;
    height: 17px;
    background-image: url("../images/dest/icons/menu-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: linear .2s;

    &::before {
      display: none;
    }
  }

  &__menu-inner {
    margin: 0 0 120px 0;
    display: flex;
    align-items: center;
  }

  &__menu-close {
    margin: 0 20px 0 0;
    position: relative;
    display: block;
    position: relative;
    width: 29px;
    height: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: #fff;
      width: 29px;
      height: 3px;
      border-radius: 5px;
    }

    &::before {
      top: 9px;
      left: 0;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 8px;
      left: 0;
      transform: rotate(-45deg);
    }
  }

  &__menu-logo {
    margin: 0 0 0 36%;
    display: block;
    max-width: 150px;
    width: 100%;
    height: 45px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__list li {
    margin: 0 0 25px 0;
  }

  &__list li span {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #E94D6E;
      opacity: 0;
      transition: linear .2s;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  &__item-child>ul {
    display: none;
    // margin: 35px 0 10px 55px;

    li {
      position: relative;
      padding: 0 0 0 80px;
      margin: 0;
      font-weight: 400;
      font-size: 2.1rem;
      line-height: 165%;
      color: #fff;
      transition: linear .2s;

      &::after {
        content: "";
        position: absolute;
        top: 12px;
        left: 55px;
        background-color: #4c4c4c;
        width: 5px;
        height: 5px;
        border-radius: 50%;
      }

    }

    span {
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -55px;
        width: 35px;
        height: 10px;
        background-image: url("../images/dest/icons/arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0;
        transition: linear .2s;
      }

      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  &__item-child p {
    transition: all .3s;
  }

  &__item-child.active {
    p {
      margin: 0 0 35px 0;
    }

    .header__arrow {
      transform: rotate(180deg);
    }
  }
}

/*end header==========*/

/*start intro=======*/
.intro {
  &--daps {
    .intro__left p {
      margin: 10px 0 85px 0;
    }
  }

  &--development {
    .intro__left p {
      margin: 10px 0 55px 0;
    }
  }

  &--design {
    .intro__left p {
      margin: 10px 0 120px 0;
    }
  }

  &--about {
    .intro__left p {
      margin: 10px 0 46px 0;
    }
  }

  &__inner {
    height: calc(100vh - 75px);
    position: relative;
    display: flex;
    align-items: center;
  }

  &__left {
    padding: 5% 0 5% 0;
    position: relative;
    z-index: 10;
    max-width: 468px;
    width: 100%;

    p {
      margin: 10px 0 0 0;
      font-weight: 300;
      font-size: 1.7rem;
      line-height: 130%;
      color: #FFFFFF;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 6rem;
    line-height: 110%;
    color: #fff;
  }

  &__down {
    display: block;
    margin: 25px 0 0 0;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &--img{
    .intro__left{
      margin: 0 0 -5% 0;
    }
  }
  &__img-wrapper {
    position: relative;
    margin: 0 0 0 -150px;
    max-width: 600px;
    width: 100%;
    flex-shrink: 0;
    z-index: -1;
  }

  &__img{
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__right {
    margin: 0 0 0 -120px;
    position: relative;
    width: 580px;
    height: 492px;
    flex-shrink: 0;
    z-index: -2;

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: url("../images/dest/main/intro-space.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

/*end intro=======*/

/*start aprroach=============*/
.aprroach {
  position: relative;
  z-index: 10;
  padding: 65px 0 60px;

  &__list {
    margin: 90px 20px 0 -30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__item {
    margin: 0 0 20px 30px;
    width: calc(33.3333% - 30px);

    h4 {
      font-weight: 700;
      font-size: 1.9rem;
      line-height: 110%;
      color: #FFFFFF;
    }

    p {
      max-width: 80%;
      font-weight: 300;
      font-size: 1.5rem;
      line-height: 130%;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__item-box {
    margin: 0 0 5px 0;
    display: flex;
    align-items: center;
  }

  &__item-num {
    margin: 0 15px 0 0;
    font-weight: 300;
    font-size: 7rem;
    line-height: 110%;
    color: #E94D6E;
  }

}

/*end aprroach=============*/

/*start services===========*/
.services {
  position: relative;
  padding: 60px 0 70px;

  &::before {
    content: "";
    position: absolute;
    bottom: 1%;
    right: 9%;
    background-image: url("../images/dest/icons/service-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 80%;
    z-index: -1;
  }

  &__item {
    margin: 90px 0 0 0;
    display: flex;
    align-items: center
  }

  &__item:nth-child(odd) {
    flex-direction: row-reverse;

    .services__info {
      margin: 0 90px 0 0;
      padding: 0 0 0 20px;

      h3,
      p {
        text-align: right;
      }
    }

    .services__img {
      border-radius: 4% 0 0 4%;
    }
  }

  &__img {
    max-width: 43.5%;
    width: 100%;
    border-radius: 0px 4% 4% 0px;
    overflow: hidden;

    img {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      min-height: 0;
      min-width: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transform: translate(0);
    }
  }

  &__info {
    padding: 0 20px 0 0;
    margin: 0 0 0 95px;
    max-width: 495px;

    h3 {
      margin: 0 0 30px 0;
      font-weight: 700;
      font-size: 4rem;
      line-height: 110%;
      color: #FFFFFF;
    }

    p {
      font-family: 'Helvetica', sans-serif;
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 130%;
      color: #FFFFFF;
      margin: 0 0 25px 0;
    }
  }

}

/*end services===========*/

/*start reviews===============*/
.reviews {
  padding: 60px 0 160px;

  &--about {
    padding: 60px 0 75px;
  }

  &__top {
    margin: 0 0 90px 0;
  }

  .container {
    position: relative;

    .btn {
      position: absolute;
      right: 20px;
      top: 40px;
    }
  }

  .title--sub {
    position: relative;
    padding: 0 0 0 20px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-image: url("../images/dest/icons/shield-top.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 12px;
      height: 12px;
    }
  }

}

/*end reviews===============*/

/*start news==========*/
.news {
  padding: 70px 0 90px;

  &__list {
    margin: 90px 0 60px -15px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__list+.btn {
    margin: 0 auto;
  }

  &__item {
    margin: 0 0 0 15px;
    width: calc(33.3333% - 15px);
    background-color: #fff;
    border: 1px solid #1F1F1F;
    border-radius: 6px;
    overflow: hidden;

    h4 {
      margin: 0 0 20px 0;
      font-weight: 600;
      font-size: 1.7rem;
      line-height: 135%;
      color: #000000;
      text-overflow: ellipsis;
      overflow: hidden;
      -ms-line-clamp: 2;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      display: -webkit-box;
      display: box;
      word-wrap: break-word;
      -webkit-box-orient: vertical;
      box-orient: vertical;
    }

    p {
      margin: 0 0 15px 0;
      font-family: 'Helvetica', sans-serif;
      font-weight: 300;
      font-size: 1.4rem;
      line-height: 130%;
      color: #747373;
      text-overflow: ellipsis;
      overflow: hidden;
      -ms-line-clamp: 4;
      -webkit-line-clamp: 4;
      line-clamp: 4;
      display: -webkit-box;
      display: box;
      word-wrap: break-word;
      -webkit-box-orient: vertical;
      box-orient: vertical;
    }

    .link {
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 140%;
      color: #E94D6E;

      &::after {
        width: 49px;
        height: 8px;
      }
    }

  }

  &__inner {
    padding: 25px 20px 30px;
  }

  &__img {
    height: 165px;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover
    }
  }

  &__date {
    margin: 0 0 20px 0;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 130%;
    color: #747373;
  }

}

/*end news==========*/



/*start 404==============*/
.content.content--page-404 {
  background-image: url("../images/src/icons/404-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.page-404 {
  &__inner {
    height: calc(100vh - 75px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    width: 52%;
    margin: 0 20px 0 0;

    h1 {
      margin: 0 0 10px 0;
      font-weight: 700;
      font-size: 6rem;
      line-height: 110%;
      color: #FFFFFF;
    }

    p {
      font-weight: 300;
      font-size: 1.7rem;
      line-height: 130%;
      color: #FFFFFF;
    }
  }

  &__right {
    font-weight: 700;
    font-size: 18rem;
    line-height: 110%;
    color: #FFFFFF;

    span {
      color: #E94D6E;
    }
  }
}

/*end 404==============*/

/*start works=========*/
.works {
  padding: 65px 0 95px;
  position: relative;
  z-index: 10;

  &__list {
    margin: 125px 0 0 -15px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__img {
    margin: -30px 0 30px 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  li {
    padding: 0 40px 50px 40px;
    margin: 0 0 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    border: 1px solid #1F1F1F;
    border-radius: 6px;
    width: calc(33.3333% - 15px);
    text-align: center;
  }

  h4 {
    margin: 0 0 15px 0;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 135%;
    color: #FFFFFF;
  }

  p {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 130%;
    color: #747373;
  }
}

/*end works=========*/

/*start stack============*/
.stack {
  padding: 95px 0 90px;

  &--development {
    padding: 65px 0 90px;
  }

  &__list {
    margin: 95px 0 0 -15px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  li {
    height: 110px;
    padding: 30px;
    margin: 0 0 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    border: 1px solid #1F1F1F;
    border-radius: 6px;
    width: calc(33.3333% - 15px);
  }
}

/*end stack============*/

/*start gallery===============*/
.gallery {
  padding: 90px 0 75px;

  .container {
    position: relative;

    .btn {
      position: absolute;
      top: 10px;
      right: 20px;
    }
  }

  &__inner {
    margin: 90px 0 0 -15px;
  }

  &__box {
    display: flex;
    width: 100%;
  }

  &__box:nth-child(odd) {
    .gallery__item-wrapper:nth-child(even) {
      width: calc(105% - 15px);
    }
  }

  &__item-wrapper {
    position: relative;
    display: flex;
    align-items: end;
    position: relative;
    width: calc(50% - 15px);
    height: 100%;
    margin: 0 0 15px 15px;
    height: 300px;
    border-radius: 8px;
    overflow: hidden !important;

    &::before {
      content: "";
      position: absolute;
      top: 95px;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      background-image: url("../images/dest/main/gallery-mask.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &:hover {
      .gallery__item {
        transform: scale(1.07);
      }
    }
  }

  &__item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: linear .2s;
    border-radius: 8px;
    overflow: hidden !important;
  }

  &__bottom {
    position: absolute;
    bottom: 15px;
    right: 15px;
    left: 15px;
    z-index: 2;

    h6 {
      margin: 0 0 10px 0;
      font-weight: 600;
      font-size: 1.7rem;
      line-height: 135%;
      color: #FFFFFF;
    }

    p {
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 130%;
      color: #FFFFFF;
    }
  }
}

/*end gallery===============*/

/*start types======*/
.types {
  padding: 55px 0 95px;

  &__inner {
    margin: 95px 0 0 0;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    padding: 50px;
    width: 50%;
    background-color: #121212;
    border: 1px solid #1F1F1F;
    border-radius: 6px;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 135%;
    color: #FFFFFF;
    text-align: center;

    span {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #E94D6E;
        opacity: 0;
        transition: linear .2s;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -55px;
        background-image: url("../images/dest/icons/arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: linear .2s;
        width: 40px;
        height: 10px;
        opacity: 0;
        transition: linear .2s;
      }
    }

    &:hover {
      span {
        &::before {
          opacity: 1;
        }

        &:after {
          opacity: 1;
        }
      }
    }
  }

  .types__item+.types__item {
    margin: 0 0 0 15px;
  }

  &__item:first-child {
    span {
      margin: 0 0 0 -50px;
    }
  }
}

/*end types======*/

/*start projects============*/
.projects {
  padding: 35px 0 20px;

  &__btns {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 70px -20px;
  }

  &__btn {
    padding: 12px 15px;
    margin: 15px 0 0 20px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 135%;
    color: #606060;
    background-color: #121212;
    border: 1px solid #606060;
    border-radius: 36px;
    outline: none;
    cursor: pointer;
  }

  &__btn.active {
    color: #E94D6E;
    border-color: #E94D6E;
  }

  &__inner {
    margin: 0 0 0 -15px;
  }

  .gallery__inner {
    margin: 0;
  }
}

/*end projects============*/

/*start quote============*/
.quote {
  padding: 50px 0 50px;
  max-width: 1335px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: -2;
  background-image: url("../images/dest/main/quote-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("../images/dest/main/quote-shadow.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__inner {
    position: relative;
    z-index: 10;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 222px 0 208px;
    text-align: center;
  }

  blockquote {
    margin: 0;
    font-weight: 600;
    font-size: 4.8rem;
    line-height: 135%;
    color: #FFFFFF;
    letter-spacing: -0.03em;
  }

  span {
    color: #E94D6E;
  }
}

/*end quote============*/


/*start article=============*/
.articl-intro {
  position: relative;
  padding: 130px 0 50px;
  height: 100vh;

  .container {
    height: 100%;
    display: flex;

  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__left {
    margin: -25% 15px 0 0;
    max-width: 475px;
    width: 100%;
    flex-shrink: 0;
  }

  h1 {
    margin: 0 0 15px 0;
    font-weight: 600;
    font-size: 4.8rem;
    line-height: 135%;
    color: #FFFFFF;
  }

  &__link {
    display: flex;
    margin: 0 0 25px 0;
    position: relative;
    padding: 0 0 0 50px;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 140%;
    color: #E94D6E;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      left: 5px;
      background-image: url("../images/dest/icons/arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: linear .2s;
      width: 40px;
      height: 8px;
      transition: linear .2s;
    }

    &:hover {
      &::after {
        left: 0;
      }
    }
  }

  &__info {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 130%;

    span {
      display: block;
      margin: 0 0 5px 0;
    }

    span:last-child {
      color: #fff;
    }
  }

  &__right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 -100px 0 0;
    max-width: 50%;
    width: 100%;
    right: 0;
  }

  &__img {
    width: 100%;
    border-radius: 170px;
    overflow: hidden;
    border-radius: 36% 0 0 36%;

    img {
      width: 120%;
      height: 120%;
      object-fit: cover;
      object-position: bottom center;
      margin: 0 0 -1.5% 0;
    }
  }
}

.articl-content {
  padding: 128px 0 50px;
  max-width: 660px;
  width: 100%;
  margin: 0 auto;

  p {
    margin: 0 0 20px 0;
    font-family: 'Helvetica', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 130%;
    color: #747373;
  }

  &__img {
    margin: 70px 0 85px;
    border-radius: 5px;
    overflow: hidden;
    height: 265px;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }


  blockquote {
    margin: 55px 0 65px 0;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 135%;
    color: #FFFFFF;
  }
}

/*end article=======*/

/*start blog====================*/
.articl-intro.articl-intro--blog {

  h1 {
    margin: 0 0 20% 0;
    font-size: 6rem;
    line-height: 110%;
  }
}

.blog {
  padding: 35px 0 20px;

  &__btns {
    position: relative;
    z-index: 50;
    margin: 0 0 70px -20px;

    .projects__btns {
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 70px -20px;
    }
  }

  &__btn {
    padding: 12px 15px;
    margin: 15px 0 0 20px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 135%;
    color: #606060;
    background-color: #121212;
    border: 1px solid #606060;
    border-radius: 36px;
    outline: none;
    cursor: pointer;
  }

  &__btn.active {
    color: #E94D6E;
    border-color: #E94D6E;
  }

  .news__item {
    margin: 0 0 15px 15px;
  }

  .news__list {
    margin: 70px 0 10px -15px;
  }
}

/*end blog====================*/


/*start footer=========*/
.footer {
  padding: 215px 0 50px 0;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    bottom: -40%;
    right: -18%;
    background-image: url("../images/dest/icons/footer-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 135%;
    height: 135%;
    z-index: -1;
    opacity: .7;
  }

  &__inner {
    overflow: hidden
  }

  &__title {
    margin: 0 0 10px 0;
    font-weight: 700;
    font-size: 6rem;
    line-height: 110%;
    color: #FFFFFF;
  }

  &__box {
    display: flex;
    align-items: flex-start;
    margin: 0 0 140px 17%;

    p {
      width: 28%;
      font-weight: 300;
      font-size: 1.4rem;
      line-height: 130%;
      color: #FFFFFF;
    }

    .link {
      margin: 0 0 0 23%;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    max-width: 95px;
    height: 29px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__copyright {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 130%;
    color: #7E7E7E;
  }
}

/*end footer=========*/






@import "media";